@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --text-color: #f5f5f5;
  --hover-color: #12f7ff;
  --bg-color: #250821;
  --second-bg-color: #292e33;
  --big-font: 2.5rem;
  --norma-font: 2rem;
  --neon-box-shadow: 0 0 .5rem #12f7ff;
  --h2-font: 3rem;
  --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3),
  0 0 20px rgba(18,247,255,0.3),
  0 0 30px rgba(18,247,255,0.3),
  0 0 40px rgba(18,247,255,0.3),
  0 0 70px rgba(18,247,255,0.3),
  0 0 80px rgba(18,247,255,0.3),
  0 0 100px rgba(18,247,255,0.3),
  0 0 150px rgba(18,247,255,0.3);
}

::-webkit-scrollbar {
  height: 0;
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: var(--second-bg-color);
  border: 2px solid #fdfdfd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 10px; 
  border: 1px solid var(--bg-color)
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color)
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 8%;
  position: fixed;
  background-color: var(--bg-color);
  height: 8%;
  border-bottom-width: 0px;
  border-bottom-color: rgba(255,255,255, 0.2);
  border-bottom-style: solid;
  z-index: 100;
}

header.sticky {
  border-bottom-width: 1px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fdfdfd;
}

span {
  color: var(--hover-color)
}

.navList {
  display: flex;
}

.navList a {
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 20px;
  transition: text-shadow 0.1s;
}

.navList a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(18,247,255,0.6),
  0 0 20px rgba(18,247,255,0.6),
  0 0 30px rgba(18,247,255,0.6),
  0 0 40px rgba(18,247,255,0.6),
  0 0 70px rgba(18,247,255,0.6),
  0 0 80px rgba(18,247,255,0.6),
  0 0 100px rgba(18,247,255,0.6),
  0 0 150px rgba(18,247,255,0.6)
}



#menu-icon {
  font-size: 1.8rem;
  /* z-index: 10001; */
  cursor: pointer;
  margin-left: 25px;
  display: none;
  background-color: #12f7ff;
  border-radius: 10px;
}

section {
  padding: 100px 8%;
}

/* home-section */
.home {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 4em;
  background: var(--second-bg-color);
  padding-bottom: 20px;
}

.home-image {
  width: 150%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255,255,255, 0.2);
  border-radius: 25px;
  overflow: hidden;
}

.personal-home-image {
  width: 100%;
  object-fit: cover;
}

.home-content {
  width: auto;
  height: auto;
}

.home-content h1{
  font-size: var(--big-font);
  font-weight: 700;
}

.home-content p {
  color: #d9d9d9;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.buttons-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.btn-box .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: var(--hover-color);
  color: var(--bg-color);
  font-size: 1rem;
/*   letter-spacing: 1px; */
  font-weight: 600;
  transition: .6s;
  box-shadow: var(--neon-box-shadow);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 2px solid var(--hover-color);
  cursor: pointer;
}

.btn:hover {
  color: var(--hover-color)
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  width: 0;
  height: 100%;
  z-index: -1;
  transition: .4s;
}

.btn:hover::before {
  width: 100%;
}

.btn:nth-child(2) {
  background: var(--bg-color);
  color: var(--hover-color);
}

.btn:nth-child(2)::before{
  background-color: var(--hover-color);
}

.btn:nth-child(2):hover {
  color: var(--bg-color)
}

.social-icons {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 30px;
}

.social-icons a{
  display: inline-flex;
  width: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  border-radius: 5px;
  box-shadow:  1 1 10rem #12f7ff;
  position: relative;
  z-index: 1
}

.social-icons a i {
  font-size: 1.5rem;
}

.social-icons a:hover {
  color: var(--bg-color);
}

.social-icons a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: var(--hover-color);
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.4s;
}

.social-icons a:hover::before {
  width: 100%;
}

/* about section css ------------------------------------*/

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.about .job {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .job .about-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 800px
}

.about .job .about-content h1 {
  font-size: var(--big-font);
}

.about .job .about-content p {
  font-size: 20px;
}

.img-about {
  width: 30%;
}
.img-about img {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255,255,255, 0.2);
  border-radius: 25px;
  overflow: hidden;
}
/* contact section css */

.contact {
  background: var(--second-bg-color);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 0px;
}

.contact .main-text {
  margin-bottom: 1rem;
}

.contact form{
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 1.5rem;
/*   cursor: pointer; */
}

.contact form input, .contact form textarea {
  width: 100%;
  color: var(--text-color);
  background: var(--bg-color);
  margin-bottom: 0.8rem;
  padding: 0.7rem;
  border: none;
  border-radius: 25px;
}

.contact form textarea {
  resize: none;
  margin-bottom: 1.5rem;
}

.formBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBtn .btn {
  cursor: pointer;
}

/* footer */

footer {
  padding: 0.8rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: #bdbdbd
}

footer a{
  display: inline-flex;
  justify-content: center;
  color: var(--text-color);
  background: var(--hover-color);
  padding: 0.6rem;
  border-radius: 5px;
}

footer a i{
  font-size: 1rem;
  color: var(--second-bg-color);
}

@media(max-width: 1330px) {
  .about .job .about-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: auto;
  }
  .job {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
  }

  .job .about-content h1{
    font-size: var(--norma-font);;
  }
  
  .about .job .about-content p {
    font-size: 18px;
  }
}

@media(max-width: 1000px) {
  #menu-icon {
    display: block;
  }

  #menu-icon i {
    transition: all .47s;
  }

  #menu-icon i.bx-x {
    transform: rotate(-180deg);
  }

  .navList{
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 20px;
    transition: all .47s;

  }

  .navList a {
    display: block;
    padding-bottom: 5px;
    font-size: 0.9rem;
  }

  .navList.open {
    display: block;
    top: 100%;
  }

  .home {
    grid-template-columns: 1fr;
    row-gap: 6rem;
    place-items: center;
  }

  .home-image{
    width: 70%;
  }

  .about {
    flex-direction: column;
    row-gap: 1rem;
  }

  .img-about img {
    width: 100%;
    max-height: none;
    padding-bottom: 0px;
    
  }

  .skill-main{
    grid-template-columns: 1fr;
  }

  footer p {
    font-size: .9rem;
  }

  .port-content {
    font-size: 15rem;
    row-gap: -5px;
    line-height: 1.1;
  }
}

@media(max-width: 912px) {

  .job {
    display: flex;
    gap: 1.5rem;
    text-align: center;
  }

  .about .job .about-content h1 {
    font-size: 30px;
  }
  
  .about .job .about-content p {
    font-size: 15px;
  }

  .img-about img {
    display: none;
  }

  .home-image {
    display: none;
  }
}

@media(max-width: 420px) {
  .home {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: none;
    background: var(--second-bg-color);
    padding-bottom: 20px;
  }

  .buttons-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .social-icons {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 30px;
  }

  .social-icons a{
    display: inline-flex;
    width: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    border-radius: 5px;
    box-shadow:  1 1 10rem #12f7ff;
    position: relative;
    z-index: 1
  }
}

