/* service section */

.section-services {
  display: inline-flex;
  grid-gap: 2rem;
}

.main-text {
  text-align: center;
  color: var(--hover-color);
}

.main-text h2 {
  font-weight: 700;
  font-size: var(--norma-font);
  color: #12f7ff;
}

.main-text span {
  font-weight: 200;
  font-size: 24px;
  color: #fdfdfd;
  text-transform: uppercase;
}


.section-services .service-box {
  margin-top: 25px;
  background-color: var(--second-bg-color);
  padding: 1.5rem 2rem;
  padding-bottom: 1.5rem;
  flex: 1 1 1;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.4s;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

.service-box:hover {
  transform: translateY(-0.6rem);
}

.section-services .service-box h3 i {
  margin-right: 12px;
}
.section-services .service-box h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-icon {
  font-size: 3rem;
  background-color: #12f7ff;
  padding: 0.8rem 0.8rem;
  border: 3px solid var(--bg-color);
  border-radius: 50%;
  color: var(--bg-color)
}

.service-box p {
  font-weight: 300;
  letter-spacing: 1px;
  color: #bdbdbd;
  margin-top: -0.8rem;
  line-height: 1.5rem;
}